{{#if resume.awards.length}}
<div class="container awards-container">
  {{> title value="Awards"}}

  {{#each resume.awards}}
  {{#if breakBefore}}
  <section class="item page-break">
    {{> section-header name=this.title }}

    {{#if awarder}}
    <h5 class="awarder">{{awarder}}</h5>
    {{/if}}

    {{#if summary}}
    <p class="summary">{{summary}}</p>
    {{/if}}
  </section>
  {{else}}
  <section class="item">
    {{> section-header name=this.title }}

    {{#if awarder}}
    <h5 class="awarder">{{awarder}}</h5>
    {{/if}}

    {{#if summary}}
    <p class="summary">{{summary}}</p>
    {{/if}}
  </section>
  {{/if}}
  {{/each}}
</div>
{{/if}}