<div class="position-section clearfix">
  {{#if name}}
    <h5>
      {{name}}
      -
      {{#if startDate}}
        <span class="startDate">[{{formatDate startDate}}</span>
        {{#if endDate}}
          <span class="endDate"> - {{formatDate endDate}}]</span>
        {{else}}
          <span class="endDate"> - Present]</span>
        {{/if}}
      {{else if releaseDate}}
        {{formatDate releaseDate}}
      {{/if}}
    </h5>
  {{/if}}
</div>